.hide {
    display: none;
}

body {
    font-family: sans-serif;
    background-color: rgb(33, 192, 8);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(6, 144, 129);
    padding: 1.5em;
    border: 2px solid black;
    border-radius: 10px;
}

header nav li {
    display: inline;
    margin-right: 1em;
}

header nav a {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header nav a:hover {
    color: white;
}

header nav {
    align-self: center;
}

html {
    background-color: rgb(217, 217, 217);
}

#set-up,
.q-form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding-bottom: 13em;
}

.q-form input {
    width: 100%;
    font-size: 1.1em;
}

#set-up select,
#set-up input {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.question {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.clickable {
    font-size: 1.1em;
    border: 1px solid black;
    background-color: white;
    padding: 1em;
    margin-bottom: 1.2em;
}

.clickable:hover {
    opacity: .5;
}

.err-message {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    background-color: rgb(226, 10, 25);
    color: white;
}

.success-message {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    background-color: rgb(35, 255, 0);
    color: white;
}

#results {
    margin-top: 2em;
}

form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    text-align: center;
}

input,
textarea,
select {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 1em;
}

label {
    font-size: 1.2em;
    margin-bottom: 1em
}

.flex {
    display: flex;
}

.home {
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.home a {
    text-decoration: none;
    color: black;
    align-self: center;
}

.home a:hover {
    color: white;
}

form a {
    font-size: 1.4em;
    margin-bottom: 5em;
}

.hidden {
    display: none;
}

#question,
#answer {
    background-color: white;
    width: 85%;
    height: 100px;
    margin: auto;
    margin-bottom: 25em;
}