<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Test Review | Test Review &#38; Trivia</title>
</head>

<body>
    <header>
        <a href="/"><img src="#" alt="trivia icon"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create-review">Test Review</a></li>
                <li><a href="/play-trivia">Trivia</a></li>
            </ul>
        </nav>
    </header>
    Create Test Review page
</body>

</html>