<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | Test Review &#38; Trivia</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <header>
        <a href="/"><img src="#" alt="trivia icon"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create-review">Test Review</a></li>
                <li><a href="/play-trivia">Trivia</a></li>
                <li><a href="/login" style="margin-left:2em" id="login">Sign-in</a>
                    <a href="/logout" class="hidden" id="logout">Logout | </a><span id="name" class="hidden"></span></li>
            </ul>
        </nav>

    </header>
    <div class="flex home">
        <div id="message"></div>
        <section class="flex section">
            <h2 style="margin-right: 3em;">My Quizzes</h2>
            <ul>

            </ul>
            <h2>Public Quizes</h2>
            <ul>

            </ul>
        </section>
        <a href="/play-trivia">
            <h2>Play Trivia</h2>
        </a>
    </div>
    <script src="home.js"></script>
</body>

</html>