<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Test Review | Test Review &#38; Trivia</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <header>
        <a href="/"><img src="#" alt="trivia icon"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create-review">Test Review</a></li>
                <li><a href="/play-trivia">Trivia</a></li>
            </ul>
        </nav>
    </header>
    <h2>sign-in</h2>
    <form>
        <input type="text" name="email" id="email" placeholder="email"><br>
        <input type="text" name="password" id="password" placeholder="password"><br>
        <input type="button" value="Sign-in" id="submit">
    </form>
    <script src="login.js"></script>
</body>

</html>